In [41]:
import pandas as pd
import numpy as np
import openpyxl
from sqlalchemy import create_engine
import psycopg2
from dotenv import load_dotenv
import os

In [42]:
def get_db_engine():
    load_dotenv()

    user = os.getenv('DB_USER')
    password = os.getenv('DB_PASSWORD')
    host = os.getenv('DB_HOST')
    port = os.getenv('DB_PORT')
    database = os.getenv('DB_NAME')

    engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}')
    return engine

In [43]:
df = pd.read_sql_query("SELECT * FROM reports;", engine)

In [44]:
display(df)

,id,type_document,name_document,label,inital_value,final_value,edit,is_null
0,5,cnh,01_cnh,doc_identidade->doc_identidade-org._emissor-uf,732213587,732213587,False,False
1,6,cnh,01_cnh,nome,PESSONI VALDILEI EMY,PESSONI VALDILEI EMY,False,False
2,7,cnh,01_cnh,nome_mae->filiacao,FRAGA ADONIS CASAL LIMA,FRAGA ADONIS CASAL LIMA,False,False
3,21,rg,03_rg,data_expedicao,,26/10/2005,True,True
4,29,recibos,04_recibos,cpf_cnpj_tomador,163.981.026,163.981.026 - 90,True,False
...,...,...,...,...,...,...,...,...
88,78,nfs,06_nfse,numero_rps,"1758,",1758,True,False
89,60,nfs,06_nfse,complemento->prestador_de_servicos,Cpf,,True,False
90,92,comprovante_residencia,07_comprovate_residencia,nome,ANDERSON DA SILVA,ANDERSON DA SILVA PEREIRA,True,False
91,79,nfs,06_nfse,rua->prestador_de_servicos,"AV. JAVAN LESSA RIBEIRO,",AV. JAVAN LESSA RIBEIRO,True,False
92,80,nfs,06_nfse,rua->tomador_de_servicos,"AV. FLORES DA CUNHA,",AV. FLORES DA CUNHA,True,False

In [32]:
# dados incorretos

df_filtered = df[df['edit'] == True]

display(df_filtered)

,id,type_document,name_document,label,inital_value,final_value,edit,is_null
3,21,rg,03_rg,data_expedicao,,26/10/2005,True,True
4,29,recibos,04_recibos,cpf_cnpj_tomador,163.981.026,163.981.026 - 90,True,False
5,37,danfe,05_nfe,data_emissao_nf,14 / 01 /,14 / 01 / 2021,True,False
6,52,nfs,06_nfse,Valor_ISS,"0,00","90,89",True,False
7,53,nfs,06_nfse,Valor_de_outras_retencoes,"90,89","0,00",True,False
8,33,recibos,04_recibos,valor_recibo,"11,00","110,00",True,False
9,12,cnh,01_cnh,org._emissor->doc_identidade-org._emissor-uf,SESP GO,SESP,True,False
68,25,rg,03_rg,UF->naturalidade,ITU-SP,SP,True,False
69,1,cnh,01_cnh,cidade->local,CLAUDIO-MG,CLAUDIA-MG,True,False
86,2,cnh,01_cnh,cpf,896.630.040-53,896.256.040-53,True,False
87,3,cnh,01_cnh,data_emissao,,17/06/2008,True,True
88,78,nfs,06_nfse,numero_rps,"1758,",1758,True,False
89,60,nfs,06_nfse,complemento->prestador_de_servicos,Cpf,,True,False
90,92,comprovante_residencia,07_comprovate_residencia,nome,ANDERSON DA SILVA,ANDERSON DA SILVA PEREIRA,True,False
91,79,nfs,06_nfse,rua->prestador_de_servicos,"AV. JAVAN LESSA RIBEIRO,",AV. JAVAN LESSA RIBEIRO,True,False
92,80,nfs,06_nfse,rua->tomador_de_servicos,"AV. FLORES DA CUNHA,",AV. FLORES DA CUNHA,True,False

In [33]:
df_filtered.shape

(16, 8)

In [34]:
#dados que não pertencem ao documento

df_null = df[df['is_null'] == True]
display(df_null)

,id,type_document,name_document,label,inital_value,final_value,edit,is_null
3,21,rg,03_rg,data_expedicao,,26/10/2005,True,True
87,3,cnh,01_cnh,data_emissao,,17/06/2008,True,True

In [35]:
#dados corretos

df_correct = df[df['edit'] == False]
display(df_correct)

,id,type_document,name_document,label,inital_value,final_value,edit,is_null
0,5,cnh,01_cnh,doc_identidade->doc_identidade-org._emissor-uf,732213587,732213587,False,False
1,6,cnh,01_cnh,nome,PESSONI VALDILEI EMY,PESSONI VALDILEI EMY,False,False
2,7,cnh,01_cnh,nome_mae->filiacao,FRAGA ADONIS CASAL LIMA,FRAGA ADONIS CASAL LIMA,False,False
10,8,cnh,01_cnh,nome_pai->filiacao,IONEDA MIYAKUCHI ZAV SANTOS,IONEDA MIYAKUCHI ZAV SANTOS,False,False
11,9,cnh,01_cnh,numero_do_espelho_da_habilitacao,599905390,599905390,False,False
...,...,...,...,...,...,...,...,...
81,89,comprovante_residencia,07_comprovate_residencia,estado,PE,PE,False,False
82,90,comprovante_residencia,07_comprovate_residencia,logradouro,"RUA NOSSA SENHORA DAS GRACAS,","RUA NOSSA SENHORA DAS GRACAS,",False,False
83,91,comprovante_residencia,07_comprovate_residencia,municipio,RECIFE,RECIFE,False,False
84,93,comprovante_residencia,07_comprovate_residencia,numero,56,56,False,False
85,4,cnh,01_cnh,data_nascimento,14/05/1996,14/05/1996,False,False

In [36]:
# função que retorna a estilização na linha que tiver sido editada
def highlight_correct(row):
    return ['background-color: darkgreen' if row['edit'] == False else '' for _ in row]

# aplicando o estilo a todo o dataframe
correct_df = df.style.apply(highlight_correct, axis=1)

# exibindo o dataframe estilizado
correct_df

In [37]:
correct_df.to_excel('tabela_correta.xlsx', index=None)

In [38]:
# função que retorna a estilização na linha que tiver sido editada
def highlight_incorrect(row):
    return ['background-color: red' if row['edit'] == True else '' for _ in row]

# aplicando o estilo a todo o dataframe
data_incorreto = df.style.apply(highlight_incorrect, axis=1)

# exibindo o dataframe estilizado
data_incorreto

In [40]:
data_incorreto.to_excel('tabela_incorreta.xlsx', index=None)